$primary-color: #171a21;
$light-primary-color: #1f222b;

$secondary-color: #1b2838;
$light-secondary-color: #243448;

$cyan-color: #2289ff;
$light-cyan-color: #3090ffe5;

$light-blue-color: #2a475e;

$dark-gray-color: #a9a9a9;

$gray-color: #c7d5e0;
$light-gray-color: #d4e3ed;

$green-color: #6c9018;

$red-color: #b44040;
