// colors

$primary-color: #171a21;
$light-primary-color: #1f222b;

$secondary-color: #1b2838;
$light-secondary-color: #243448;
$dark-blue-color: #546d80;

$saturated-blue-color: #0f216e;
$blue-color: #3170a8;
$light-blue-color: #317fbf;
$steel-blue-color: #316282;
$stormy-blue-color: #24343e;
$midnight-blue-color: #1e3242;

$darkish-cyan-color: #284157;
$cyan-color: #67c1f5;
$light-cyan-color: #3090ffe5;
$very-light-cyan: #a4c9de;

$light-blue-color: #2a475e;
$dark-gray-color: #a9a9a9;

$gray-color: #c7d5e0;
$light-gray-color: #d4e3ed;

$green-color: #6c9018;

$red-color: #b44040;

$black-color: #576b77;

$white-color: #ffffff;
