@import "../../../../sass/mixins";
@import "../../../../sass/variables";
@import "../../../../sass/components";

@media (min-width: 768px) {
  .container {
    height: calc(100vh - 100px);
    background-color: $secondary-color;

    @include grid(2, 1);
    place-items: center;

    .title {
      font-size: 26px;
    }

    form {
      margin-top: 20px;
      background-color: $primary-color;

      padding: 50px 100px 50px 100px;
      border-radius: 5px;

      width: 768px;
      position: relative;

      label {
        display: block;
        margin-bottom: 10px;

        font-size: 18px;
      }

      .form-group {
        width: 80%;
        margin-bottom: 15px;

        select {
          background-color: $secondary-color;
          width: 100%;
          padding: 10px;
          border: none;
        }
      }

      input {
        outline: none;
        background-color: $secondary-color;
        border: none;
        padding: 10px;
        width: 100%;
      }

      .btns {
        position: absolute;
        right: 20px;
      }
    }

    .form-name-group {
      @include flex(end, center, 10px);
      width: 80%;
    }

    .form-inputs {
      margin-bottom: 20px;
    }
    .tos {
      display: flex !important;
      justify-content: start;
      align-items: start;

      margin-bottom: 10px;
      user-select: none;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;

        appearance: none;
        cursor: pointer;

        @include flex(center, center);
        outline: none;

        &:after {
          font-family: "Font Awesome 5 Free";
          font-size: 15px;
          font-weight: 900;

          content: "\f00c";
          color: white;
          display: none;
        }

        &:hover {
          background-color: $light-secondary-color;
        }

        &:checked:after {
          display: block;
        }
      }
    }
  }
}

footer {
  background-color: $light-primary-color;
  padding: 25px;
  height: 100px;
  width: 100%;

  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;

  .filler {
    font-size: 18px;
    font-weight: 400;
  }
}

.next-btn {
  @extend %next-button;
  padding: 10px;
  border-radius: 5px;
  background-color: $cyan-color;

  &:hover {
    background-color: $light-cyan-color;
  }
}

.back-btn {
  @extend .next-btn;
  background-color: $dark-gray-color;
  margin-right: 10px;
}

.error-box {
  border: 1px solid $red-color !important;
}

.error-text {
  color: $red-color !important;
}
