@import "../../../../sass/variables";

.spinner-wheel {
  width: 120px;
  height: 120px;
  border: 6px solid;
  border-color: $dark-gray-color transparent $dark-gray-color transparent;
  border-radius: 50%;
  animation: loadingSpinner 1s linear infinite;
  z-index: 9999;
  margin: 0 auto;
}

@keyframes loadingSpinner {
  to {
    transform: rotate(360deg);
  }
}
