<nav class="navbar">
  <div class="logo" [routerLink]="['/']">
    <img src="/Images/Logo/logo-no-background.png" />
  </div>
  <div class="items">
    <ul class="items-list">
      <li
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        STORE
      </li>
      <li [routerLink]="'library'" *ngIf="isLoggedIn" routerLinkActive="active">
        LIBRARY
      </li>
      <li [routerLink]="'community'" routerLinkActive="active">COMMUNITY</li>
      <li [routerLink]="'support'" routerLinkActive="active">SUPPORT</li>
      <li
        [routerLink]="isLoggedIn ? 'profile' : 'login'"
        routerLinkActive="active"
      >
        {{ isLoggedIn ? (user?.userName | uppercase) : "LOGIN" }}
      </li>
    </ul>
  </div>
  <div class="global-actions">
    <button class="install-btn">
      <i class="fa-solid fa-download"></i> Install Gamesphere
    </button>
    <button class="bell-btn" *ngIf="isLoggedIn">
      <i class="fa-solid fa-bell"></i>
    </button>
    <div class="user-profile" (click)="Logout()" *ngIf="isLoggedIn">
      <img
        class="user-profile-img"
        [src]="
          user?.profilePicturePath == null
            ? '/Images/User/default_avatar.jpg'
            : user?.profilePicturePath
        "
        alt="Profile image"
      />
    </div>
    <div class="admin-btn">
      <button (click)="ToggleAdmin()" *ngIf="isLoggedIn">
        toggle admin {{ user?.roles?.includes("Admin") }}
        <mat-icon [ngStyle]="{ color: isAdmin ? 'green' : 'red' }"
          >circle</mat-icon
        >
      </button>
    </div>
  </div>
</nav>
