<nav class="navbar">
  <div class="logo">
    <img src="/Images/Logo/logo-no-background.png" />
  </div>
  <div class="items">
    <ul class="items-list">
      <li
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        STORE
      </li>
      <li [routerLink]="'library'" *ngIf="isLoggedIn" routerLinkActive="active">
        LIBRARY
      </li>
      <li [routerLink]="'community'" routerLinkActive="active">COMMUNITY</li>
      <li [routerLink]="'support'" routerLinkActive="active">SUPPORT</li>
      <li
        [routerLink]="isLoggedIn ? 'profile' : 'login'"
        routerLinkActive="active"
      >
        <!-- Test -->
        {{ isLoggedIn ? (user?.userName | uppercase) : "LOGIN" }}
      </li>
    </ul>
  </div>
</nav>
