<div class="comp-container">
  <div class="nav-container">
    <app-storenav></app-storenav>
  </div>
  <div class="container">
    <div class="games-container">
      <div class="games" *ngIf="filteredGames.length > 0">
        <div
          class="game"
          *ngFor="let game of filteredGames"
          [routerLink]="['/game', game.title.replaceAll(' ', '_')]"
        >
          <div class="game-img">
            <img [src]="game.picturesPaths[0]" />
          </div>
          <div class="content-wrapper">
            <div class="content">
              <p>
                {{ game.title }}
              </p>
              <p>{{ game.price == 0 ? "Free" : game.price + "$" }}</p>
            </div>
          </div>
        </div>
      </div>
      <app-spinner></app-spinner>
      <div *ngIf="filteredGames.length === 0" class="loading-games">
        <p>Games are being fetched...</p>
      </div>
    </div>
  </div>
  <app-spinner></app-spinner>
</div>
